
img{
    max-width:  100%;
}
}
main, header{
    margin-left: auto;
    margin-right: auto;
}
nav ul{
   list-style: none;
   padding: 0; 
}
nav ul li{
  display: inline-block ;  

}
.red{
    color: darkred;
}
.big{
    font-size: 32px;
}
@media (min-width: 800px){
    main, header{
       width: 768px; 
    }
    img{ 
        width: 200px;
    }
}