
img{
    max-width: 48%;
    padding: 10px;
}
header{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #7B1212;
}
main{
    padding-left: 40px;
    padding-right: 40px;
}
nav ul{
   list-style: none;
   padding-left: 20px; 
   font-family: helvetica;
}
nav ul li{
  display: inline-block ;
  }
p{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif
}
@media (min-width: 2050px){
    main, header{
       width: 1040px; 
    }
    img{ min-width: auto;
    }
}
a:link{
    text-decoration: none;
    color: white;
    padding: 20px;
    text-align: center;
}   
h1{
    font-size: 48px;
    font-family: 'Lucida San;
    font-weight: 600;
}
#specialImage{ 
    max-width: 100%;
}